@model CAPCO.Areas.Admin.Models.PagedViewModel<CAPCO.Infrastructure.Domain.ProductPriceCode>
@using MvcContrib.UI.Grid;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Manage Product Price Codes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("New Product Price Code", "New")
</p>

<div>
    @using (Html.BeginForm("search", "productpricecodes", new { area = "admin" }, FormMethod.Post, null))
    { 
        <label>Search by Price Group:</label> @Html.TextBox("criteria") <input type="submit" value="Search" />
    }
</div>

@if (Model.Entities.Count() > 0)
{
    <div class="price-codes-grid">
        @Html.Grid(Model.Entities).Columns(column =>
   {
       column.For(x => "<a href='" + Url.Action("show", "productpricecodes", new { area = "admin", id = x.Id }) + "'><img src='" + Url.Content("~/public/images/24-columns.png") + "' /></a>").Named("View").Encode(false);
       column.For(x => x.PriceGroup).Named("Price Group");
       column.For(x => x.PriceCode).Named("Price Code");
       column.For(x => String.Format("{0:c}", x.Price)).Named("Price");

   }).Attributes(id => "resultsGrid")
    </div>
}

<div style="margin-top: 10px;">Displaying @(Model.Page.HasValue && Model.Page > 1 ? (Model.Page - 1) * 100 + 1 : 1) - @(Model.TotalCount < ((Model.Page ?? 1) * 100) ? Model.TotalCount : (Model.Page ?? 1) * 100) of @Model.TotalCount price codes.</div>

@Html.PagedListPager(Model.Entities,
            page => Url.Action("Index", new RouteValueDictionary() {
               { "Page", page }
            }),
            PagedListRenderOptions.OnlyShowFivePagesAtATime)

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#resultsGrid').dataTable({
                "bPaginate": false,
                "bInfo": false,
                "bFilter": false,
                "bLengthChange": false
            });
        });
    </script>
}