@{ 
    Layout = "~/Views/Shared/_Global.cshtml";
    //var currentUser = Membership.GetUser() != null ? Membership.GetUser().GetMember() : null;
    var currentUser = ViewBag.CurrentUser as CAPCO.Infrastructure.Domain.ApplicationUser; 
}
<section id="main" style="min-height: 500px;">
    <div class="container">
        <div class="span-4">
            @RenderSection("Title", false)
        </div>
        <div class="span-20 last">
            @RenderSection("Crumbs", false)
        </div>
    </div>
    <div class="container">        
        <div class="span-4">
            @if (IsSectionDefined("SideBar"))
            { 
                @RenderSection("SideBar")
            }
            else
            { 
                <div>SideBar Content - need to define</div>
            }
        </div>
        <div class="span-20 last">
            @RenderBody()
        </div>
    </div>
</section>

@section Scripts
{
    @RenderSection("Scripts", false)
}