@model CAPCO.Infrastructure.Domain.SliderImage

@{
    ViewBag.Title = "Edit Slider Image";
}

<h2>Edit</h2>

@using (Html.BeginForm("update", "slider", new { id = Model.Id, area = "admin" }, FormMethod.Post, null)) {
    @Html.ValidationSummary(true)
	@Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <fieldset>
        <legend>Slider Image</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Delete This Image", "delete", "slider", new { area = "admin", id = Model.Id }, new { onclick = "javascript: return confirm(\"Are you sure? This cannot be undone.\");" }) 
</div>
