@{
    
    var section = ViewBag.Section as CAPCO.Infrastructure.Domain.ContentSection;
    ViewBag.Title = section.Title;
    
}

<div class="span-4">
    <div class="section-left">
        <h3 class="sidebar">Locations</h3>
    </div>
    <div class="section-left">
        
        <h3 class="sidebar">Colorado</h3>
        <ul class="sidebar">
            <li><a href="#denver">Denver</a></li>
            <li><a href="#avon">Avon</a></li>
            <li><a href="#boulder">Boulder</a></li>
            <li><a href="#carbondale">Carbondale</a></li>
            <li><a href="#coloradosprings">Colorado Springs</a></li>
            <li><a href="#fortcollins">Fort Collins</a></li>
            <li><a href="#grandjunction">Grand Junction</a></li>
            <li><a href="#silverthorne">Silverthorne</a></li>
        </ul>
    </div>
    <div class="section-left">
        <h3 class="sidebar">Nevada</h3>
        <ul class="sidebar">
            <li><a href="#lasvegas">Las Vegas</a></li>
        </ul>
    </div>
</div>

<div class="span-20 last">
    <div style="padding: 10px;">
        <h2>@ViewBag.Title</h2>
        @Html.GetSectionHtml(section)
        
        <h3><a name="denver">Denver</a></h3>
        
        <div class="span-10">   
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Tile & Stone</label><br />
                    5800 E Jewell Ave Denver, CO 80224<br />
                    Phone 303-759-1919<br />
                    Fax 303-756-3416<br />
                    Toll Free 800-727-2272<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>
                        Hours</label><br />
                    Service Desk M-F 7:30-4:30<br />
                    Showroom M-F 8:00-4:30<br />
                    Saturday both 9:00 - 2:00</p>
                <p>
                    <label>
                        Directions</label><br />
                    Take I-25 to Evans Avenue. Go East on Evans to Holly Street. Turn left (north) on
                    Holly. Turn right (east) on E. Jewell Ave. CAPCO will be on your right side at 5800
                    E. Jewell Ave.</p>
            </div>
        </div>
        <div class="span-6 last">
            <a href="#"><iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Denver+5800+E+Jewell+Ave+Denver,+CO+80224&amp;sll=37.0625,-95.677068&amp;sspn=56.506174,79.013672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=5800+E+Jewell+Ave,+Denver,+Colorado+80224&amp;t=m&amp;ll=39.68209,-104.917889&amp;spn=0.009908,0.012875&amp;z=15&amp;iwloc=near&amp;output=embed"></iframe></a><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Denver+5800+E+Jewell+Ave+Denver,+CO+80224&amp;sll=37.0625,-95.677068&amp;sspn=56.506174,79.013672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=5800+E+Jewell+Ave,+Denver,+Colorado+80224&amp;t=m&amp;ll=39.68209,-104.917889&amp;spn=0.009908,0.012875&amp;z=15&amp;iwloc=near" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
        
        <hr />

        <h3><a name="avon">Avon</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Avon</label><br />
                    910 Nottingham Rd #N8<br />
                    PO Box 3188<br />
                    Avon, CO 81620<br />
                    Phone 970-949-5118<br />
                    Fax 970-949-5810<br />
                    Toll free 800-689-8082<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    Service Desk M-F 7:30-4:30<br />
                    Showroom M-F 7:30-4:30<br />
                    Saturday by appointment only </p>
                <p>
                    <label>Directions</label><br />
                    Take I-70 to exit 167 (Avon Road). If traveling west on I-70, turn right on Avon Road. If traveling east on I-70, turn left on Avon Road. Avon Road will turn into Nottingham Road. Pizza Hut will be on your right. Travel one mile to the stop sign. Go straight for ¼ mile. CAPCO will be on your right at 910 Nottingham road, rear of building, suite #N8.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=capco+tile+avon+co&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=capco+tile&amp;hnear=Avon,+Eagle,+Colorado&amp;t=m&amp;cid=17800765973142424404&amp;ll=39.641851,-106.535196&amp;spn=0.019828,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=capco+tile+avon+co&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;vpsrc=0&amp;ie=UTF8&amp;hq=capco+tile&amp;hnear=Avon,+Eagle,+Colorado&amp;t=m&amp;cid=17800765973142424404&amp;ll=39.641851,-106.535196&amp;spn=0.019828,0.025663&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
        
        <hr />

        <h3><a name="boulder">Boulder</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Boulder</label><br />
                    5345 Arapahoe Ave. Unit #1<br />
                    Boulder, CO 80303<br />
                    Phone 303-545-5295<br />
                    Fax 303-545-5950<br />
                    Toll free 800-689-8186<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    Monday 7:30-6:00<br />
                    Tue. - Fri. 7:30-4:30<br />
                    Closed Saturday & Sunday</p>
                <p>
                    <label>Directions</label><br />
                    Take Hwy 36 (Boulder Turnpike) to Foothills Parkway. Take Foothills Pkwy to Arapahoe Avenue. Turn Right on Arapahoe. CAPCO will be on your left at 5345 Arapahoe Ave. Unit #1.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Boulder+5345+Arapahoe+Ave.+Unit+%231+Boulder,+CO+80303&amp;aq=&amp;sll=40.014753,-105.228706&amp;sspn=0.006409,0.009645&amp;vpsrc=0&amp;g=5345+Arapahoe+Ave.+Unit+%231+Boulder,+CO+80303&amp;ie=UTF8&amp;hq=capco&amp;hnear=5345+Arapahoe+Ave,+Boulder,+Colorado+80301&amp;t=m&amp;cid=3666303945463132462&amp;ll=40.014731,-105.228682&amp;spn=0.019721,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Boulder+5345+Arapahoe+Ave.+Unit+%231+Boulder,+CO+80303&amp;aq=&amp;sll=40.014753,-105.228706&amp;sspn=0.006409,0.009645&amp;vpsrc=0&amp;g=5345+Arapahoe+Ave.+Unit+%231+Boulder,+CO+80303&amp;ie=UTF8&amp;hq=capco&amp;hnear=5345+Arapahoe+Ave,+Boulder,+Colorado+80301&amp;t=m&amp;cid=3666303945463132462&amp;ll=40.014731,-105.228682&amp;spn=0.019721,0.025663&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
        
        <hr />

        <h3><a name="carbondale">Carbondale</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Carbondale</label><br />
                    62 County Rd. 113 Bldg B-2<br />
                    Carbondale, CO 81623<br />
                    <label>Tile</label><br />
                    Phone 970-963-7320<br />
                    Fax 970-963-4998<br />
                    Toll-Free 800-689-8084
                    <label>Slab</label><br />
                    Phone 970-963-4594<br />
                    Fax 970-963-4999<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    Service Desk M - F 7:00-4:30<br />
                    Showroom M - F 9:00-4:30<br />
                    Saturday by appointment only</p>
                <p>
                    <label>Directions</label><br />
                    From Hwy 82 take the Cattle Creek turn off and head south on the frontage road. We are about a half mile down on your left on top of the hill.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Carbondale+62+County+Rd.+113,+Carbondale,+CO+81623&amp;aq=&amp;sll=40.014855,-105.228703&amp;sspn=0.099393,0.154324&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Carbondale+62+County+Rd.+113,&amp;hnear=Carbondale,+Garfield,+Colorado&amp;t=m&amp;cid=9842116766250363761&amp;ll=39.454221,-107.258835&amp;spn=0.079527,0.102654&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Carbondale+62+County+Rd.+113,+Carbondale,+CO+81623&amp;aq=&amp;sll=40.014855,-105.228703&amp;sspn=0.099393,0.154324&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Carbondale+62+County+Rd.+113,&amp;hnear=Carbondale,+Garfield,+Colorado&amp;t=m&amp;cid=9842116766250363761&amp;ll=39.454221,-107.258835&amp;spn=0.079527,0.102654&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
        
        <hr />

        <h3><a name="coloradosprings">Colorado Springs</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Colorado Springs</label><br />
                    30 West Costilla<br />
                    Colorado Springs, CO 80903<br />
                    Phone 719-633-8723<br />
                    Fax 719-633-8517<br />
                    Toll Free 800-340-5768<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    Service Desk M - F 7:30-4:30<br />
                    Showroom M - F 8:00-4:30<br />
                    Saturday 9:00-1:00, Service desk closed</p>
                <p>
                    <label>Directions</label><br />
                    Take I-25 to exit 141 (Cimarron Street) east. Take Cimarron to Sahwatch Street. Turn left on Sahwatch. Go one block and turn right on Costilla Street. CAPCO will be on the corner of Sahwatch and Costilla at 30 West Costilla.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Colorado+Springs+30+West+Costilla+Colorado+Springs,+CO+80903&amp;aq=&amp;sll=39.454221,-107.258835&amp;sspn=0.200409,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Colorado+Springs+30+West+Costilla+Colorado+Springs,+CO+80903&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=13662784030999136483&amp;ll=38.828743,-104.82708&amp;spn=0.080237,0.102654&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Colorado+Springs+30+West+Costilla+Colorado+Springs,+CO+80903&amp;aq=&amp;sll=39.454221,-107.258835&amp;sspn=0.200409,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Colorado+Springs+30+West+Costilla+Colorado+Springs,+CO+80903&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=13662784030999136483&amp;ll=38.828743,-104.82708&amp;spn=0.080237,0.102654&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
        
        <hr />

        <h3><a name="fortcollins">Fort Collins</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Fort Collins</label><br />
                    3665 Canal Drive, Unit D<br />
                    Fort Collins, CO 80524<br />
                    Phone 970-484-4175<br />
                    Fax 970-484-4795<br />
                    Toll free 800-689-8085<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    M - F 7:30-4:30<br />
                    Saturday by Appointment</p>
                <p>
                    <label>Directions</label><br />
                    Take I-25 to Hwy 14 (Mulberry Street) west. On Mulberry exit left to SW Frontage Road. Take the Frontage road west (right) to Canal Drive. Turn left on Canal. CAPCO will be on your right at 3665 Canal Drive.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Fort+Collins+3665+Canal+Drive,+Unit+D,+Fort+Collins,+CO+80524&amp;aq=&amp;sll=38.828739,-104.827092&amp;sspn=0.202197,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Fort+Collins+3665+Canal+Drive,+Unit+D,+Fort+Collins,+CO+80524&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=12902687015642560003&amp;ll=40.579542,-105.008698&amp;spn=0.078226,0.102654&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Fort+Collins+3665+Canal+Drive,+Unit+D,+Fort+Collins,+CO+80524&amp;aq=&amp;sll=38.828739,-104.827092&amp;sspn=0.202197,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO+Fort+Collins+3665+Canal+Drive,+Unit+D,+Fort+Collins,+CO+80524&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=12902687015642560003&amp;ll=40.579542,-105.008698&amp;spn=0.078226,0.102654&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>

        <hr />

        <h3><a name="grandjunction">Grand Junction</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Grand Junction</label><br />
                    2522 Hwy 6 & 50<br />
                    Grand Junction, CO 81505<br />
                    Phone 970-244-8896<br />
                    Fax 970-244-8897<br />
                    Toll free 800-689-8183<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    M - F 7:30-4:30<br />
                    Saturday by Appointment</p>
                <p>
                    <label>Directions</label><br />
                    Where Hwy 6 and Hwy 50 merge, heading west, turn right at the Auto Zone. CAPCO is behind Auto Zone at 2522 Hwy 6 & 50.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Grand+Junction&amp;aq=&amp;sll=40.579542,-105.008698&amp;sspn=0.197131,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=Grand+Junction,+Mesa,+Colorado&amp;t=m&amp;cid=7239544385700630872&amp;ll=39.082373,-108.587322&amp;spn=0.019988,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Grand+Junction&amp;aq=&amp;sll=40.579542,-105.008698&amp;sspn=0.197131,0.308647&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=Grand+Junction,+Mesa,+Colorado&amp;t=m&amp;cid=7239544385700630872&amp;ll=39.082373,-108.587322&amp;spn=0.019988,0.025663&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>

        <hr />

        <h3><a name="silverthorne">Silverthorne</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CAPCO Silverthorne</label><br />
                    365 Warren Avenue, Units 204 & 205<br />
                    Silverthorne, CO 80498<br />
                    Phone 970-513-7899<br />
                    Fax 970-513-1202<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    M - F 7:30-4:30<br />
                    Saturday by appointment only</p>
                <p>
                    <label>Directions</label><br />
                    Take I-70 to Blue River Parkway (Hwy 9). Turn left on 3rd Street. Turn right on Warren Ave. CAPCO will be on your left at 365 Warren Ave.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CAPCO+Silverthorne&amp;aq=&amp;sll=36.073418,-115.189509&amp;sspn=0.104893,0.154324&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=Silverthorne,+Summit,+Colorado&amp;t=m&amp;cid=2491447341960109711&amp;ll=39.629424,-106.07789&amp;spn=0.019832,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CAPCO+Silverthorne&amp;aq=&amp;sll=36.073418,-115.189509&amp;sspn=0.104893,0.154324&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CAPCO&amp;hnear=Silverthorne,+Summit,+Colorado&amp;t=m&amp;cid=2491447341960109711&amp;ll=39.629424,-106.07789&amp;spn=0.019832,0.025663&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>

        <hr />

        <h3><a name="lasvegas">Las Vegas</a></h3>
        <div class="span-10">
            <div style="padding: 10px;">
                <p>
                    <label>CREST Las Vegas</label><br />
                    3775 W. Teco Ave. Unit 4<br />
                    Las Vegas, NV 89118<br />
                    Phone 702-873-3322<br />
                    Fax 702-873-7783<br />
                    Toll Free 800-579-3013<br />
                    @Html.ActionLink("Contact Us", "contact", "home", new { area = "" }, null)
                </p>
                <p>
                    <label>Hours</label><br />
                    M - F 8:00-4:00</p>
                <p>
                    <label>Directions</label><br />
                    Take I-15 to Russell Rd. exit<br />
                    West to S. Valley View Blvd.<br />
                    South to W. Teco Ave. (on east side)<br />
                    Entrance from S. Valley View Blvd<br />
                    50 yards south of W. Teco Ave.</p>
            </div>
        </div>
        <div class="span-6 last">
            <iframe style="border: 1px solid #333;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CREST+Las+Vegas,+3775+W.+Teco+Ave.,+Las+Vegas,+NV&amp;aq=&amp;sll=39.083905,-108.586292&amp;sspn=0.050368,0.077162&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CREST+Las+Vegas,+3775+W.+Teco+Ave.,&amp;hnear=Las+Vegas,+Clark,+Nevada&amp;t=m&amp;cid=2885518715427236104&amp;ll=36.073384,-115.18959&amp;spn=0.041624,0.051327&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CREST+Las+Vegas,+3775+W.+Teco+Ave.,+Las+Vegas,+NV&amp;aq=&amp;sll=39.083905,-108.586292&amp;sspn=0.050368,0.077162&amp;vpsrc=0&amp;ie=UTF8&amp;hq=CREST+Las+Vegas,+3775+W.+Teco+Ave.,&amp;hnear=Las+Vegas,+Clark,+Nevada&amp;t=m&amp;cid=2885518715427236104&amp;ll=36.073384,-115.18959&amp;spn=0.041624,0.051327&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
        </div>
    </div>
</div>


