@model CAPCO.Infrastructure.Domain.ProductUnitOfMeasure

@{
    ViewBag.Title = "Edit Product Unit of Measures";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("update", "productunitofmeasures", new { id = Model.Id }, FormMethod.Post, null)) {
    @Html.ValidationSummary(true)
	@Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <fieldset>
        <legend>Details</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Delete This Unit of Measure", "delete", "productunitofmeasures", new { area = "admin", id = Model.Id }, new { onclick = "javascript: return confirm(\"Are you sure? This cannot be undone.\");" }) 
</div>
