@model CAPCO.Infrastructure.Domain.ContentSection

@{
    ViewBag.Title = "New Content Section";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "content", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Content Details</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


