@model CAPCO.Models.PriceListViewModel
@{
    ViewBag.Title = "Price Lists";
    var currentUser = ViewBag.CurrentUser as CAPCO.Infrastructure.Domain.ApplicationUser;
    bool isPricingEnabled = ViewBag.IsPricingEnabled;
}

<div class="span-6">
    <div class="section-left sidebar">
        @Html.Partial("_LogOnOrRegister")
    </div>
    <div class="section-left sidebar">
        <h3 class="sidebar">Price List Options</h3>
        <ul class="sidebar">
            <li>@Html.ActionLink("View All Prices", "all", "pricelist", null, new { id = "AllPrices" })</li>
            <li>@Html.ActionLink("View by Section", "bysection", "pricelist", null, null)</li>
            <li>@Html.ActionLink("View Recent Updates", "byupdates", "pricelist", null, null)</li>
        </ul>
    </div>
</div>

<div class="span-18 last">
    <div style="padding: 10px;">
        <h2>@ViewBag.Title</h2>

        @if (!isPricingEnabled)
        {
            <p class="error">Our pricing features are temporarily unavailable while we make some updates. We apologize for any inconvenience.</p>
        }
        else if (currentUser.DefaultLocation == null)
        { 
            <p class="error">Before we can generate a price list, please @Html.ActionLink("update your profile", "edit", "profile", new { id = currentUser.Id }, null) with your default branch location. You can also update your pricing display preferences, which are currently set to <strong>@currentUser.PricePreference.ToFriendlyPricingPreference()</strong>.</p>
        }
        else
        {
            <p class="notice">Your current price display preferences are set to show <strong>@currentUser.PricePreference.ToFriendlyPricingPreference()</strong> in your profile.
            Your default branch is set to <strong>@currentUser.DefaultLocation.Name</strong>. You can change these preferences by @Html.ActionLink("updating your profile", "edit", "profile", new { id = currentUser.Id }, null).</p>
            
            if (Model.PriceListProducts != null && Model.PriceListProducts.Any())
            {
                <div style="text-align:right;">
                    <p class="small-buttons">
                        @Html.ActionLink("Print", "print", new { @type = "all" }, new { target = "_blank", @class = "small-button" })
                        @Html.ActionLink("Data Friendly", "data", new { @type = "all" }, new { target = "_blank", @class = "small-button" })
                    </p>
                </div>
                @Html.Partial("_PriceList", Model);
            }
            else
            { 
                <p>Please select a price list type using the options on the left side of the screen.</p>
            }
        }    
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#AllPrices").click(function() {
                return confirm("You have requested a complete price list. This may take several minutes to complete. Click OK to continue.");
            });
        });
    </script>
}