@model CAPCO.Infrastructure.Domain.ProductType

@{
    ViewBag.Title = "Product Type";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductType</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Code</div>
    <div class="display-field">@Model.Code</div>

    <div class="display-label">Products</div>
    <div class="display-field">@(Model.Products == null ? "None" : Model.Products.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


