@model CAPCO.Infrastructure.Domain.ProductVariation

@{
    ViewBag.Title = "New Product Variation";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("create", "productvariations", FormMethod.Post))
{
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Details</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


